@charset "UTF-8";

@font-face {
    font-family: hanken;
    src: url(HankenGrotesk-VariableFont_wght.ttf);
    font-display: swap;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bluegradient: hsl(241, 81%, 54%);
    --color-purplegradient:hsl(252, 100%, 67%);
    --color-violetcircle:hsla(256, 72%, 46%, 1);
    --color-bluecircle: hsla(241, 72%, 46%, 0);
    --color-redsummary: hsl(0, 100%, 67%);
    --color-yellowsummary: hsl(39, 100%, 56%);
    --color-greensummary: hsl(166, 100%, 37%);
    --color-bluesummary: hsl(234, 85%, 45%);
    --color-textgray: hsl(241, 100%, 89%);
    --color-textdarkgray: hsl(224, 30%, 27%);

}

body {
    font-family: hanken;
}

.blue-section {
    background-image: linear-gradient(to bottom, var(--color-purplegradient), var(--color-bluegradient) );
    text-align: center;
    color: white;
    padding: 20px 0px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-section h1 {
    font-size: 18px;
    color: var(--color-textgray);
    padding-bottom: 10px;
}

.result-number {
    background-image: linear-gradient(to bottom,var(--color-violetcircle), var(--color-bluecircle));
    border-radius: 50%;
    width: 120px;
    height: 120px;
    color: var(--color-textgray);
    font-size: 14px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result-number span {
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.result-word {
    font-size: 20px;
    font-weight: bold;
}

.result-description {
    color: var(--color-textgray);
    font-size: 14px;
}

.white-section {
    text-align: center;
}

.white-section h2 {
    font-size: 18px;
    padding: 20px 20px 0;
    text-align: justify;
}

.summary-item {
     margin: 20px 80px;

     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

.summary-item div {
    display: flex;
    align-items: center;
}

.summary-item p {
    color: hsl(0, 0%, 49%);
}

#reaction-item {
    background-color: hsla(0, 100%, 67%, 0.11);
    padding: 15px;
    border-radius: 10px;
}

#memory-item {
    background-color:hsla(39, 100%, 56%, 0.11) ;
    padding: 15px;
    border-radius: 10px;
}

#verbal-item {
    background-color:hsla(166, 100%, 37%, 0.11) ;
    padding: 15px;
    border-radius: 10px;
}

#visual-item {
    background-color: hsla(234, 85%, 45%, 0.11);
    padding: 15px;
    border-radius: 10px;
}

.number-summary {
    color: var(--color-textdarkgray);
    font-weight: bold;
}

.text-reaction {
    color: var(--color-redsummary);
}

.text-memory {
    color: var(--color-yellowsummary);
}

.text-verbal {
    color: var(--color-greensummary);
}

.text-visual {
    color: var(--color-bluesummary);
}

button {
    background-color: var(--color-textdarkgray);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    padding: 15px 100px;
    border-radius: 20px;
    cursor: pointer;
}
